body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
#header
{
	height: 100vh;
	background-image: url("backgroundimage.JPG");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}


.user-box
{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;

}

.user-box img
{
	border-radius: 50%;
	width: 350px;
	border: 2px solid #6caed5;
}

.user-box h1
{
	color: #fff;
	font-weight: bold;
	margin: 10px;
}
.user-box p
{
	color: #fff;

}

@keyframes mover
{
	0%{transform: translateY(0);}
	100%{transform: translateY(10px);}

}
/*----About----*/
.about
{
	padding-top: 100px;
	padding-bottom: 50px;
}
.profile-img
{
	height: 300px;
	width: 200px
}
.nav-bar
{
	top: 0;
	position: sticky;
	z-index: 2;
}
.navbar
{
	background-color: #080;
}
.navbar-brand
{
	height: 50px;
}
.nav-bar .fa-bars
{
	font-size: 35px;
	color: #fff;
}
.navbar-toggler
{
	outline: none !important;
}
.navbar-nav
{
	float: right;
	text-align: right;
}
.nav-link
{
	color: #fff !important;
}
.skills-bar p
{
	margin-bottom: 6px;
	font-weight: 600
}
.progress
{
	border-radius: 16px !important;
	margin-bottom: 10px;
}
.progress-bar
{
	border-radius: 16px;
	background: #080 !important;
}
.resume
{
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: #F3FAFF;
}
.resume h3
{
	margin-bottom: 50px;
}
.timeline
{
	list-style-type: none;
	position: relative;
}
.timeline:before
{
	content: '';
	background: #455;
	display: inline-block;
	position: absolute;
	left: 29px;
	width: 2px;
	height: 100%;
	z-index: 1;
}
.timeline li
{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	background: #fff;
}
.timeline li h4
{
	background-color: #080;
	padding: 5px 0 5px 20px;
	color: #fff;
	font-size: 15px;

}
.timeline li h4 span
{
	font-weight: bold;
	color: #ccc;
}
.timeline li:before
{
	content: '';
	background: #fff;
	display: inline-block;
	position: absolute;
	border-s
	border-radius: 50%;
	border: 3px solid #000;
	left: 20px;
	width: 20px;
	height: 20px;
	z-index: 1;
}
.services
{
	padding-top: 50px;
	padding-bottom: 50px;
}
.services h1
{
	margin-bottom: 15px;
}